
__pycache__/required_utils.cpython-311.pyc
__pycache__/GetAudio.cpython-311.pyc
__pycache__/conversion_utils.cpython-311.pyc
__pycache__/api_utils.cpython-311.pyc
config.ini
__pycache__/tts_window.cpython-311.pyc
scripts/__pycache__/api_utils.cpython-310.pyc
scripts/__pycache__/audio_utils.cpython-310.pyc
scripts/__pycache__/conversion_utils.cpython-310.pyc
scripts/__pycache__/csv_utils.cpython-310.pyc
scripts/__pycache__/required_utils.cpython-310.pyc
scripts/__pycache__/voices_utils.cpython-310.pyc
tts_window.py expanded (Do Not Use).bak
config.ini
config.ini
utility/ffmpeg/README.txt
utility/ffmpeg/presets/libvpx-720p50_60.ffpreset
utility/ffmpeg/presets/libvpx-720p.ffpreset
utility/ffmpeg/presets/libvpx-360p.ffpreset
utility/ffmpeg/presets/libvpx-1080p50_60.ffpreset
utility/ffmpeg/presets/libvpx-1080p.ffpreset
utility/ffmpeg/LICENSE
utility/ffmpeg/doc/style.min.css
utility/ffmpeg/doc/platform.html
utility/ffmpeg/doc/nut.html
utility/ffmpeg/doc/mailing-list-faq.html
utility/ffmpeg/doc/libswscale.html
utility/ffmpeg/doc/libswresample.html
utility/ffmpeg/doc/libavutil.html
utility/ffmpeg/doc/libavformat.html
utility/ffmpeg/doc/libavfilter.html
utility/ffmpeg/doc/libavdevice.html
utility/ffmpeg/doc/libavcodec.html
utility/ffmpeg/doc/git-howto.html
utility/ffmpeg/doc/general.html
utility/ffmpeg/doc/ffprobe.html
utility/ffmpeg/doc/ffprobe-all.html
utility/ffmpeg/doc/ffplay.html
utility/ffmpeg/doc/ffplay-all.html
utility/ffmpeg/doc/ffmpeg.html
utility/ffmpeg/doc/ffmpeg-utils.html
utility/ffmpeg/doc/ffmpeg-scaler.html
utility/ffmpeg/doc/ffmpeg-resampler.html
utility/ffmpeg/doc/ffmpeg-protocols.html
utility/ffmpeg/doc/ffmpeg-formats.html
utility/ffmpeg/doc/ffmpeg-filters.html
utility/ffmpeg/doc/ffmpeg-devices.html
utility/ffmpeg/doc/ffmpeg-codecs.html
utility/ffmpeg/doc/ffmpeg-bitstream-filters.html
utility/ffmpeg/doc/ffmpeg-all.html
utility/ffmpeg/doc/fate.html
utility/ffmpeg/doc/faq.html
utility/ffmpeg/doc/developer.html
utility/ffmpeg/doc/default.css
utility/ffmpeg/doc/bootstrap.min.css
utility/ffmpeg/bin/ffprobe.exe
utility/ffmpeg/bin/ffplay.exe
utility/ffmpeg/bin/ffmpeg.exe
*.bak
*.bak
*.bak
